html {
    font-size: 62.5%
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size
}

button:disabled {
    opacity: .5;
}

button:enabled {
    opacity: 1;
}

.is-active {
    font-weight: bolder;
}